body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    transition: 0.5s;
}

body.active {
    right: 300px;
}

body.menu-active {
    transform: translateX(-150px);
    transition: transform 0.5s ease;
}

.flexnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 0 30%;
    position: relative;
}

.nav-button {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: text-decoration 0.2s;
}

.nav-button:hover {
    background-color: #555;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img{
    width:45%;
    height: auto;
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

.mobile {
    display: none;
}

.entry1{
    justify-content:center;
    align-items:center;
    text-align: center;
}

.entry-desc {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 50%;
    font-size: 1.8vw;
    margin-top: auto;
    word-wrap: break-word;
    border-style: solid;
    border-width:1px;
    border-radius: 10px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.entry2{
    justify-content: center;
    align-items: center;
    text-align:center;
}

.entry3 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    border-style: solid;
    border-radius: 10px;
    margin-right: 2vw;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-top: 1vh;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom:0.5vh;
    background-color: lightgrey
}

.entry4{
    justify-content: center;
    align-items: center;
    text-align:center;
}

.hidden {
    display: none;
}

.smallgrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.entry-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.entry-content.right {
    flex-direction: row;
}

.entry-content.left {
    flex-direction: row-reverse;
}

.entry-image {
    width: 45%;
    height: auto;
    vertical-align: middle;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.entry-desc {
    width: 45%;
    font-size: 1.8vw;
    word-wrap: break-word;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide-right {
    animation-name: slideInRight;
}

.slide-left {
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

body.menu-active .menu {
    transform: translateX(0);
}

.menu ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}